@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url('/images/bg-imgMobile.svg') no-repeat;
    background-position: top right;
    background-color: #F7F7FE;
    line-height: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}
h1{
    margin-top: 3rem;
    color: #4A4D60;
    margin-bottom: 2.5rem;
}
button {
    font-family: "Montserrat", sans-serif;
    background: #6d73de;
    width: 100%;
    padding: 0.7rem 0;
    border: 2px solid #6d73de;
    color: #fff;
    border-radius: 7px;
    font-weight: 600;
}
button:hover {
    color: #6d73de;
    background: #fff;
    border: 2px solid #6d73de;
    cursor: pointer;
    transition: 0.5s ease;
}
header {
    margin: 1rem 0;
    font-weight: 600;
}
header .toggle-contents{
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
    color: #6E728E;
    max-width: 300px;
    margin: 2rem auto;
}
header .toggle{
    background-color: #6d73de;
    width: 70px;
    padding: 5px 3px;
    border-radius: 2rem;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    transition: all 1s ease;
}
header .toggle:hover{
    opacity: 0.7;
}

/* toggel effect */
.toggle-state{
    background-color: #6d73de;
    width: 70px;
    padding: 5px 3px;
    border-radius: 2rem;
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
}

#main{
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 3.6rem auto;
    row-gap: 2rem;
}

#main div:not(.containers1) {
    color: #F7F7FE;
    background: linear-gradient(to bottom,#A2A7F0 0%, #6d73de) ;
}
#main div:not(.containers1) p {
    border-top: 1px solid #F7F7FE;
    padding: 0.7rem 0;
    font-weight: 600;
}
#main div:not(.containers1) p {
    border-bottom: 1px solid #F7F7FE;
}
#main div:not(.containers1) h4 {
    color: #fef7f7;
}
#main div:not(.containers1) button {
    background-color: #fff;
    color: #6d73de;
    border: 2px solid #fff;
}
#main div:not(.containers1) button:hover {
    background-color: #6d73de;
    color: #fff;
    border: 2px solid #fff;
}

.containers{
    padding: 1.5rem;
    border-radius: 10px;
}
.containers h3{
    font-size: 3rem;
    margin: 1.2rem 0 2.5rem;
}
.containers1{
    background-color: #fff;
    box-shadow: 1px 1px 10px 2px #6e728e56;
}
.containers1 h3,
.containers1 h4 {
    color: #4A4D60;
}
.containers1 p {
    border-top: 1px solid #979797;
    padding: 0.7rem 0;
    font-weight: 600;
    color: #6E728E;
}
.containers > p:nth-child(5) {
    border-bottom: 1px solid #979797;
    margin-bottom: 1.5rem;
}


@media (min-width: 1150px) {
    body{
        background: url('/images/bg-imgDesktop-left.svg'), url('/images/bg-imgDesktop-right.svg');
        background-color: #F7F7FE;
        background-repeat: no-repeat;
        background-position: 0%  120%, 100% 10%;
        position: relative;
    }
    #main{
        flex-direction: row;
        max-width: 70%;
        column-gap: 14rem;
    }
    #main div:not(.containers1) {
        position: absolute;
        width: 25%;
        padding: 1.5rem 1rem;
        top: 28%;
        left: 37.5%;
    }
    .containers{
        width: 100%;
    }
}

@media(min-width: 1014px) {
    #main{
        column-gap: 16rem;
    }
}
@media(min-width: 1170px) {
    #main{
        column-gap: 17.6rem;
    }
}
@media(min-width: 1260px) {
    #main{
        column-gap: 20rem;
    }
}